USE [master]
GO
/****** Объект:  Database [kr_de1]    Дата создания скрипта: 04.09.2026 17:21:05 ******/ 
CREATE DATABASE [kr_de1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kr_de1', FILENAME = N'C:\Users\lel07\kr_de1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'kr_de1_log', FILENAME = N'C:\Users\lel07\kr_de1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kr_de1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [kr_de1]
GO
/****** Объект:  Table [dbo].[Categories]    Дата создания скрипта: 04.09.2026 17:21:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Cities]    Дата создания скрипта: 04.09.2026 17:21:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Orders]    Дата создания скрипта: 04.09.2026 17:21:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NULL,
	[DeliveryDate] [date] NULL,
	[PickupPointId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Code] [nvarchar](255) NULL,
	[OrderStatusId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[OrdersInfo]    Дата создания скрипта: 04.09.2026 17:21:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersInfo](
	[OrderInfoId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Count] [int] NULL,
	[OrderId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[OrderStatuses]    Дата создания скрипта: 04.09.2026 17:21:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[OStatusId] [int] IDENTITY(1,1) NOT NULL,
	[OStatusName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[PickupPoints]    Дата создания скрипта: 04.09.2026 17:21:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickupPoints](
	[PointId] [int] IDENTITY(1,1) NOT NULL,
	[AdressIndex] [nvarchar](255) NOT NULL,
	[CityId] [int] NOT NULL,
	[Street] [nvarchar](255) NOT NULL,
	[House] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Producers]    Дата создания скрипта: 04.09.2026 17:21:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producers](
	[ProducerId] [int] IDENTITY(1,1) NOT NULL,
	[ProducerName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProducerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Products]    Дата создания скрипта: 04.09.2026 17:21:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ItemNumber] [nvarchar](20) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Price] [decimal](10, 2) NULL,
	[SupplierId] [int] NOT NULL,
	[ProducerId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Discount] [int] NULL,
	[Count] [int] NULL,
	[Description] [nvarchar](255) NULL,
	[Photo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Roles]    Дата создания скрипта: 04.09.2026 17:21:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Suppliers]    Дата создания скрипта: 04.09.2026 17:21:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Units]    Дата создания скрипта: 04.09.2026 17:21:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[UnitId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 04.09.2026 17:21:05 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[LastName] [nvarchar](255) NULL,
	[FirstName] [nvarchar](255) NULL,
	[MiddleName] [nvarchar](255) NULL,
	[Login] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (1, N'Общестроительные материалы')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (2, N'Стеновые и фасадные материалы')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (3, N'Сухие строительные смеси и гидроизоляция')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([CityId], [CityName]) VALUES (1, N'Лесной')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [OrderDate], [DeliveryDate], [PickupPointId], [UserId], [Code], [OrderStatusId]) VALUES (1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, 7, N'901', 1)
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [DeliveryDate], [PickupPointId], [UserId], [Code], [OrderStatusId]) VALUES (2, CAST(N'2024-09-28' AS Date), CAST(N'2025-04-21' AS Date), 11, 8, N'902', 1)
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [DeliveryDate], [PickupPointId], [UserId], [Code], [OrderStatusId]) VALUES (3, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 2, 9, N'903', 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrdersInfo] ON 

INSERT [dbo].[OrdersInfo] ([OrderInfoId], [ProductId], [Count], [OrderId]) VALUES (1, 1, 2, 1)
INSERT [dbo].[OrdersInfo] ([OrderInfoId], [ProductId], [Count], [OrderId]) VALUES (2, 2, 2, 1)
INSERT [dbo].[OrdersInfo] ([OrderInfoId], [ProductId], [Count], [OrderId]) VALUES (3, 3, 1, 2)
SET IDENTITY_INSERT [dbo].[OrdersInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatuses] ON 

INSERT [dbo].[OrderStatuses] ([OStatusId], [OStatusName]) VALUES (1, N'Завершен')
INSERT [dbo].[OrderStatuses] ([OStatusId], [OStatusName]) VALUES (2, N'Новый')
SET IDENTITY_INSERT [dbo].[OrderStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[PickupPoints] ON 

INSERT [dbo].[PickupPoints] ([PointId], [AdressIndex], [CityId], [Street], [House]) VALUES (1, N'420151', 1, N' ул. Вишневая', N'32')
INSERT [dbo].[PickupPoints] ([PointId], [AdressIndex], [CityId], [Street], [House]) VALUES (2, N'125061', 1, N' ул. Подгорная', N'8')
INSERT [dbo].[PickupPoints] ([PointId], [AdressIndex], [CityId], [Street], [House]) VALUES (3, N'630370', 1, N' ул. Шоссейная', N'24')
SET IDENTITY_INSERT [dbo].[PickupPoints] OFF
GO
SET IDENTITY_INSERT [dbo].[Producers] ON 

INSERT [dbo].[Producers] ([ProducerId], [ProducerName]) VALUES (1, N'М500')
INSERT [dbo].[Producers] ([ProducerId], [ProducerName]) VALUES (2, N'Изостронг')
INSERT [dbo].[Producers] ([ProducerId], [ProducerName]) VALUES (3, N'Knauf')
SET IDENTITY_INSERT [dbo].[Producers] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ItemNumber], [ProductName], [UnitId], [Price], [SupplierId], [ProducerId], [CategoryId], [Discount], [Count], [Description], [Photo]) VALUES (1, N'PMEZMH', N'Цемент', 1, CAST(440.00 AS Decimal(10, 2)), 1, 1, 1, 8, 34, N'Цемент Евроцемент М500 Д0 ЦЕМ I 42,5 50 кг', N'PMEZMH.jpg')
INSERT [dbo].[Products] ([ProductId], [ItemNumber], [ProductName], [UnitId], [Price], [SupplierId], [ProducerId], [CategoryId], [Discount], [Count], [Description], [Photo]) VALUES (2, N'BPV4MM', N'Пленка техническая', 1, CAST(8.00 AS Decimal(10, 2)), 2, 2, 1, 8, 2, N'Пленка техническая полиэтиленовая Изостронг 60 мк 3 м рукав 1,5 м, пог.м', N'BPV4MM.jpg')
INSERT [dbo].[Products] ([ProductId], [ItemNumber], [ProductName], [UnitId], [Price], [SupplierId], [ProducerId], [CategoryId], [Discount], [Count], [Description], [Photo]) VALUES (3, N'JVL42J', N'Пленка техническая', 1, CAST(13.00 AS Decimal(10, 2)), 2, 2, 1, 4, 34, N'Пленка техническая полиэтиленовая Изостронг 100 мк 3 м рукав 1,5 м, пог.м', N'JVL42J.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'Авторизированный клиент')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName]) VALUES (1, N'М500')
INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName]) VALUES (2, N'Изостронг')
INSERT [dbo].[Suppliers] ([SupplierId], [SupplierName]) VALUES (3, N'Knauf')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Units] ON 

INSERT [dbo].[Units] ([UnitId], [Name]) VALUES (1, N'шт.')
SET IDENTITY_INSERT [dbo].[Units] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [RoleId], [LastName], [FirstName], [MiddleName], [Login], [Password]) VALUES (1, 1, N'Ворсин', N'Петр', N'Евгеньевич', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[Users] ([UserId], [RoleId], [LastName], [FirstName], [MiddleName], [Login], [Password]) VALUES (2, 1, N'Старикова', N'Елена', N'Павловна', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[Users] ([UserId], [RoleId], [LastName], [FirstName], [MiddleName], [Login], [Password]) VALUES (3, 1, N'Одинцов', N'Серафим', N'Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[OrderStatuses] ([OStatusId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([PickupPointId])
REFERENCES [dbo].[PickupPoints] ([PointId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[OrdersInfo]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrdersInfo]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[PickupPoints]  WITH CHECK ADD FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([CityId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ProducerId])
REFERENCES [dbo].[Producers] ([ProducerId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([UnitId])
REFERENCES [dbo].[Units] ([UnitId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
USE [master]
GO
